* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(3, 73, 123);
  color: white;
  text-align: center;
}
#title {
  height: 6rem;
  line-height: 5rem;
  font-size: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imgContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}
img:hover {
  opacity: 0.5;
  cursor: pointer;
}
#scoreContainer {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}
.score {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#msgBox {
  padding: 1rem 2rem;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
.restart {
  padding: 1rem 2rem;
  background-color: rgb(175, 11, 11);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 2rem;
  cursor: pointer;
}

@media (max-width: 469px) {
  img {
    height: 90px;
    width: 90px;
  }
}
